.list{

    background-color:olivedrab;

    width: 300px;
    color: aliceblue;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;

}
.list p{

    padding: 10px;

    position: relative;

}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;

}